body {
  background-color: rgb(196, 189, 189);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* navbar */
nav {  
  width: 100%;
  color: white; 
  background-color: black;
  padding: 20px 5px;
}
nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* float: left; */
  width: 100%;
  overflow: hidden;
}
li {
  display: inline;
  float: left;
  /* 100 / 12 = 8.333 */
  width: 8%;
  border-left: 0.5px white solid;
  text-align: center;
  font-weight: bolder;
}

/*BBC logo in navbar */
#bbc {
  background-color: white;
  color: black;
  /* line-height: ;*/ 
}
/* search 'bar' */
#search {
  background-color: white;
  color: black;
    /* line-height: ;*/ 
}

/* welcome/date div */
#dateDiv {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

#welcome, #date, #news {
  font-size: 20px;
  color: grey;
  margin-top: 20px;
}

main {  
  padding: 2px 10px 2px;
  margin-bottom: 10px;
}

/* hero / 1st row of articles */
.image-row1 {
  display: flex;
}
.image-container1 {
  width: 50%; 
  position: relative;
}
.image-container1 img {
  width: 100%; 
  height: auto;
}
.image-container1 div {
  position: absolute;
  bottom: 1.5%; /* 1.5% keeps it in line with the bottom of the image and the bbc news logo photo. Anyway to fix? // WHY ARE THE DIVS DIFFERENT HEIGHTS???? 5 minutes later* Never mind, the lorem ipsum paragraph had more words and when i deleted some they are now the roughly the same size and it's 2 am and time for bed. 
  FIX LATER on 3/24/2022; the images for the first row are not the same height and the 1st paragraph for the image on the left is weird and not taking up the full width of the photo on the left*/
  left: 0%; 
  color: black; 
  background-color: rgba(170, 164, 168, 0.5);
  text-align: center;
  padding: 0px 5px 0px;
}

/* news */ 
#news {
  margin: 10px 0px 15px 7px;
  padding: 0px 15px 0px 3px;
  /* adjust border height? */
  border-left: solid red 4px;
} 

/* subhero */
.image-row2 {
  display: flex;
} 
.image-container2 {
  width: 33%; 
  position: relative;
  padding: 0px 2.5px 0px;
  
}
.image-container2 img {
  width: 100%; 
  height: auto;
  justify-content: space-around;
}
.image-container2 div {
  position: absolute;
  bottom: 1.5%; 
  left: 0%; 
  color: black; 
  background-color: rgba(170, 164, 168, 0.5);
  text-align: center;
  padding: 0px 5px 0px;
}
footer {
  margin-bottom: 3rem;
}
